* {
  box-sizing: border-box;
}

#text {
  font-size: 24px;
  font-family: "Arial", sans-serif;
}
.good {
  color: green;
}
.error {
  color: red;
}
.current {
  color: blue;
  border-bottom: 1px solid blue;
}
.progress-line {
  background-color: #e3e3e3;
  height: 35px;
}
#progress {
  height: 35px;
  background-color: green;
  width: 0;
  transition: width 0.6s;
}

.progress-final {
  height: 35px;
  background-color: green;
  width: 0;
  transition: width 0.6s;
}
#table li {
  position: relative;
}
.user-name {
  position: absolute;
  top: 50%;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  left: 30px;
}
